<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
body{
	background-color: #868e96;
}

table.a {
  table-layout: auto;
  width: 180px;
}

table.b {
  table-layout: fixed;
  width: 180px;
}

.sub-header{
	color: white;
}

 input{ 
 	   border: 1px solid #ccc;
 	   padding: 7px 0px;
 	   border-radius: 10px;
 	   padding-left:5px;
 	   -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 	   box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
 	   -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
 	   -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
 	   transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s; 
 } 


